<footer class="site-footer">
    <div class="footer-column footer-brand">
        <h3>Web4all</h3>

        <div class="footer-socials">
            <span>Facebook</span>
            <span>LinkedIn</span>
            <span>YouTube</span>
            <span>Instagram</span>
        </div>
    </div>

    <div class="footer-column">
        <a href="#">A propos</a>
        <a href="#">Mention légal</a>
        <a href="#">Cookies</a>
        <a href="#">Politique de confidentialité</a>
    </div>

    <div class="footer-column">
        <a href="#">Nous contacter</a>
        <a href="#">Aide</a>
        <a href="#">FAQ</a>
        <a href="#">Page</a>
    </div>

    <div class="footer-column">
        <a href="#">Topic</a>
        <a href="#">RGPD</a>
        <a href="#">Page</a>
        <a href="#">Page</a>
    </div>
</footer>