{% extends 'base.html.twig' %}

{% block title %}Accueil - Web4all{% endblock %}

{% block body %}
<section class="hero">
    <h1>Tous mobilisé pour trouver un STAGE !</h1>

    <div class="home-cards">
        <a href="/offers" class="home-card pink">
            <span>Offres</span>
        </a>

        <a href="/companies" class="home-card yellow">
            <span>Entreprise</span>
        </a>

        {% if user %}
            <a href="/wishlist" class="home-card red">
                <span>Wish-list</span>
            </a>

            <a href="/dashboard" class="home-card purple">
                <span>Tableau de bord</span>
            </a>
        {% endif %}
    </div>
</section>
{% endblock %}