{# views/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil - Web4all{% endblock %}

{% block content %}
    <div style="padding: 100px 60px;">
        <h1>Trouver le bon stage, a travers une interface claire</h1>
        <p>La solution complète pour gérer votre entreprise en toute simplicité.</p>
    </div>
{% endblock %}